<div class="main">

<input type="button" class="btn btn-light" value="Listar pessoas" routerLink="/admin/pessoas">
<input type="button" class="btn btn-light" value="Listar livros" routerLink="/admin/livros">
<input type="button" class="btn btn-light" value="Listar carros" routerLink="/admin/carros">
<input type="button" class="btn btn-light" value="Criar pessoa" routerLink="/admin/pessoas/novo">
<input type="button" class="btn btn-light" value="Criar livro" routerLink="/admin/livros/novo">
<input type="button" class="btn btn-light" value="Criar carros" routerLink="/admin/carros/novo">

</div>
