
.main {
    margin: 20px;
        min-height: 70vh;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
  }
  

  th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
 
  td {
    border: 2px solid #333;
    padding: 10px;
  }
  
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  tr:nth-child(odd) {
    background-color: #fff;
  }

  .custom-button {
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }

  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 21.5vh; 
  }
  
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  
  